
/**
 * Fix user-agent
 */
/*
* {
  box-sizing: border-box;
}
*/
/*
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*/
/**
 * Canvas .whiteboard
 */

.box {
  margin: 20px;
}

canvas {
  /*position: absolute; 只要 position 是 relative 位置就會跑掉 */
  position: absolute;
  /*position: fixed; */
  left: 30px;
  top: 60px;
  width:80%;
  height:80%;
  cursor:crosshair;
/*
  left: 50px;
  top: 50px;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  left:100px;
  top:200px;
*/
  /*
  width: 300px;
  height: 300px;
  */
  border: black 1px solid;
}

.colors {
  /* position: fixed; */
  position: fixed;
  top: 5px;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
